<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="true" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <!--UrlRewriter işlemini yapmak için Referance'ye Intelligencia.UrlRewriter.dll dosyasını ekle-->
    <!--requirePermission="true" true yapılınca publish başarılı oldu.-->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <location allowOverride="true">
    <system.web>
      <!--HATA MESAJI: Görünüm durumu MAC doğrulaması başarısız oldu. Bu uygulama bir Web Grubu veya küme tarafından barındırılıyorsa, <machineKey>
        yapılandırmasının aynı validationKey ve doğrulama algoritmasını belirttiğinden emin olun. Kümede AutoGenerate kullanılamaz.
        ÇÖZÜMÜ: <pages enableViewStateMac="false" />
        -->
      <trust level="Full"/>
      <!--Tust Level Full Seviyesine ayarlandı-->
      <customErrors mode="Off"/>
      <pages  validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>

      <compilation debug="true" targetFramework="4.5">
        <assemblies>
          <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        </assemblies>
      </compilation>
      <httpRuntime/>
      <httpModules>
        <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
        <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
      </httpModules>
      <!--<machineKey validationKey="124C4099533D8B3777A503D278BAA5E5EA3E5B152CC5CA759C7327B23249D59F78782F18BC8D3B7D79AE572542D265A1E5F2891FDC3072C6A069A73AA2A6CD71" decryptionKey="5ADD16DEEA784DE22DE878D2C0CF33DEF2DCE6E874BDC115F2948A78BDEDF4A9" validation="SHA1" decryption="AES" />-->
    </system.web>
  </location>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>

    <!--###################Tarayıcı Önbellekleme###########################-->
    <!--<caching>
      <profiles>
        <add extension=".png" policy="CacheUntilChange"
 varyByHeaders="User-Agent" location="Client" />
        <add extension=".gif" policy="CacheUntilChange"
 varyByHeaders="User-Agent" location="Client" />
        <add extension=".jpg" policy="CacheUntilChange"
varyByHeaders="User-Agent" location="Client" />
        <add extension=".js" policy="CacheUntilChange"
varyByHeaders="User-Agent" location="Client" />
        <add extension=".css" policy="CacheUntilChange"
varyByHeaders="User-Agent" location="Client" />
        <add extension=".axd" kernelCachePolicy="CacheUntilChange"
varyByHeaders="User-Agent" location="Client" />
      </profiles>
    </caching>
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <add name="Cache-Control" value="public, max-age=86400" />
      </customHeaders>
    </httpProtocol>-->
    <!--#####################Taraycı Önbellekleme Son########################-->

    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/hata.aspx" responseMode="ExecuteURL"/>
    </httpErrors>

    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>

    <modules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>

    <!--=========================Gzip Sıkıştırma=============================-->
    <!--<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>-->
    <!--=========================Gzip Sıkıştırma Son=============================-->
  </system.webServer>
  <rewriter>
    <!--<rewrite url="~/" to="~/Default.aspx" />-->
    <rewrite url="~/arama" to="~/arama.aspx" />
    <rewrite url="~/hata" to="~/hata.aspx" />
    <rewrite url="~/iletisim" to="~/iletisim.aspx" />
    <rewrite url="~/reklamver" to="~/reklamver.aspx" />
    <rewrite url="~/admin" to="~/admin.aspx" />
    <rewrite url="~/hakkimizda" to="~/hakkimizda.aspx" />
    <rewrite url="~/uyeol" to="~/uyeol.aspx" />
    <rewrite url="~/girisyap" to="~/girisyap.aspx" />
    <rewrite url="~/ozelders" to="~/ozelders.aspx" />
    <rewrite url="~/SSS" to="~/SSS.aspx" />

  </rewriter>
</configuration>